@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Special+Elite&display=swap');

:root {
  --primary-color: #87CEFA;
  --secondary-color: #A9A9A9;
  --accent1-color: #008000;
  --accent2-color: #FF0000;

  --heading-font: "Special Elite";
  --paragraph-font: "DM Serif Text", "Helvetica", "sans-serif";
}

  body {
      background-color: white;
      font-family: var(--paragraph-font);
      margin: 0;
      padding: 0;
  }
  header {
    background-color:#87CEFA;
  }

  #logo_link {
    padding-top: 5px;
  }

  img.logo {
    width: 80px;
  }

  div {
    max-width: 1600px;
  }

  .icon {
    width: 80px;
    padding-top: 10px;
  }

  #hero-msg {
    text-align: center;
    font-family: var(--heading-font);
  }

  #content {
    margin: 0 auto;
  }

  #hero-img {
    width: 100%;
  }
  
  nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
  }

  nav a:hover {
    background-color: #008000;
    color: black;
  }

  .home-title {
    color:black; 
    font-size: 2em;
    margin-top: 10px;
  }

  h4 {
    color: black;
  } 

  #hero {
    border: 1px solid #A9A9A9;
    padding-bottom: 50px;
  }

  .book, .join {
    background-color: #A9A9A9;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
  }

  .book:hover, .join:hover {
    background-color: #008000;
    color: black;
  }

  .card-img {
    border: 10px solid #008000;
  }

  #hero-msg h1, #hero-msg h4 {
    text-align: center;
  }

  h4 {
    color: black;
  }

  .button-box {
    text-align: center;
  }

  .rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
  }
  
  main section {
    text-align: center;
  }

  main section img {
    box-sizing: border-box;
  }

  #background {
    height: 725px;
    background-color: #FF0000;
  }

  #mountains {
    width: 50%;
    padding: 50px 0px 80px 0px; 
  }

  .msg {
    background-color: #87CEFA;
    line-height: 1.5em;
    padding: 35px;
  }

  .msg h2 {
    color: black;
    padding: 0px;
  }

  .msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
  }

  footer {
    background-color: #87CEFA;
    color:black;
    padding: 25px 50px;
    margin-top: 200px;
  }

  footer p {
    font-size: 1.2em;
  }

  footer p a:hover {
    text-decoration: underline;
  }

  footer a {
    color: black;
    text-decoration: none;
  }

  footer a:hover {
    background-color: #008000;
    color: black;
  }

  footer .social img {
    padding-top: 15px;
  }